* { box-sizing: border-box; }

html { font-size: 100%; }

body{
	background-color: #fff;
}

/*---Content---*/

	
	.content {
		color:#B8B8B8;
		font-size: 75%;
		text-align: justify;

	}

	.content h1{
		color: #6D6D6D;
		font-family: 'Montserrat', sans-serif;
	}
	

	.content a {
		color:#43C6AC;
		text-decoration: underline;
	}

	.content a:hover{
		color: #43C6AC;
		text-decoration: none;
	}

	.row{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	

	.portimg {
		width: 350px;
		height: auto;
		margin:.5rem;
	}


	/* #pics {
		border-spacing:.5rem;
		margin: auto;
	}
	*/

	#pics img:hover{
		opacity: 0.5;
		background: #000;
	}

	#imgcontent{
		padding-top: 5rem;
	}

/* --- Icons --- */
	
	/* .imgicons{
		width: 60px;
		height: 60px;
		background-repeat: no-repeat;
	} */
/* --- portfolio content --- */

	#picscontent{
		margin: 0 auto;
		position: relative;
		max-width: 3000px;
		text-align: center;
	}

	#speccontent

	#description{
		font-size: 150%;
		font-family: 'OpenSans-Semibold';
		margin-left: 3rem;
		text-align:left;
		width: 400px;
	}


	#large_img_div{
		text-align: center;
	}

	.port_title h1{
		text-align: center;
	}

	#portfolio_single{
		padding-top: 3rem;
	}
